.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.active {
  background-color: #EFEFEF;
}

.active .actions, .container:hover .actions {
  opacity: 1;
  visibility: visible;
  width: auto;
}

.color {
  margin-right: 8px;
}

.text {
  font-size: 14px;
  color: #292d32;
}

.actions {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  width: 0;
  padding-right: 8px;
}

.input {
  width: 96px;
  margin-left: 8px;
  margin-right: 8px;
}

.actionButton:not(:last-child) {
  margin-right: 8px;
}

.inner {
  position: relative;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  border-radius: 8px 0 0 8px;
  z-index: 1;
}